# Environment (DEV or PROD)
ENV_CURRENT=PROD

# MongoDB Atlas Credentials
MONGODB_USER=hyderdevelops_db_user
MONGODB_PASSWORD=749CWmv9xDhyTf6S
MONGODB_CLUSTER=smi.pfdhbkd.mongodb.net
MONGODB_DATABASE=sheikh_imran

# Other Configuration
PORT=3010